/* You can add global styles to this file, and also import other style files */

body {
  margin: 5px;
  background-image: url("https://ocpl.org/sites/ocpl/files/styles/hero_tall_1x/public/2020-06/shutterstock_149463557.jpg?h=ccac479a&itok=1OXsjjo2");
  background-color: #aaaaaa;
}
